<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZYOrderServiceProtocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD09D6001E497700003AD3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD09D6191E497700003AD3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD09D6241E497700003AD3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
